{% extends 'base.html' %}
{% block title %}Companies - Job Tracker{% endblock %}
{% block content %}

<body>
    <div class="page-header">
        <h1>Companies</h1>
    </div>

    {% if mode == 'list' %}
    <a href="/companies/add" class="btn btn-primary">+ Add Company</a>
    {% endif %}

    <!-- ADD / EDIT FORM SECTION  -->
    {% if mode == 'add' or mode == 'edit' %}
    <div class="form-card">
        <form method="POST" action="{{ '/companies/edit/' + selected_company.company_id|string if mode == 'edit' else '/companies/add' }}">

            <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="company_name" required
                    value="{{ selected_company.company_name if mode == 'edit' else '' }}">
            </div>

            <div class="form-group">
                <label>Industry</label>
                <input type="text" name="industry"
                    value="{{ selected_company.industry if mode == 'edit' else '' }}">
            </div>

            <div class="form-group">
                <label>Website</label>
                <input type="text" name="website"
                    value="{{ selected_company.website if mode == 'edit' else '' }}">
            </div>

             <div class="form-group">
                <label>City</label>
                <input type="text" name="city"
                    value="{{ selected_company.city if mode == 'edit' else '' }}">
            </div>

             <div class="form-group">
                <label>State</label>
                <input type="text" name="state"
                    value="{{ selected_company.state if mode == 'edit' else '' }}">
            </div>

             <div class="form-group">
                <label>Notes</label>
                <input type="text" name="notes"
                    value="{{ selected_company.notes if mode == 'edit' else '' }}">
            </div>

            <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {{ 'Update Company' if mode == 'edit' else 'Save Company' }}
            </button>
            <a href="/companies" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    {% endif %}

    <!-- COMPANIES LIST SECTION   -->

    <table border="1">
        <thead>
            <tr>
                <th>Company</th>
                <th>Industry</th>
                <th>City</th>
                <th>State</th>
                <th>Website</th>
                <th>Notes</th>
                <th style="width: 120px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company.company_name }}</td>
                <td>{{ company.industry }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.state }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.notes or 'N/A' }}</td>
                <td style="white-space: nowrap;">
                    <a href="/companies/edit/{{ company.company_id }}" class="btn btn-primary">Edit</a>

                    <form action="/companies/delete/{{ company.company_id }}" 
                          method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Delete this company?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>

{% endblock %}